@import url('../fonts/fonts.css');

:root {
    --bg-color: #2e3440;
    --text-color: #d8dee9;
    --accent-color: #88c0d0;
    --text-hover-color: #81a1c1;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Fira Mono';
    color: var(--text-color);
    background-color: var(--bg-color);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.box {
    display: flex;
    align-items: center;
    padding: 15px 30px 15px 15px;
    border: 1px solid var(--text-color);

    &__image {
        margin-right: 30px;

        img {
            display: block;
            width: 300px;
            height: 300px;
            object-fit: cover;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 28px;
        margin-bottom: 25px;
    }

    &__links {
        display: flex;
    }
}

.links {
    list-style: none;

    &:not(:last-child) {
        margin-right: 50px;
    }

    &__heading {
        font-size: 18px;
        color: #88c0d0;
    }

    &__item {
        &:first-child {
            margin-bottom: 10px;
        }

        &:not(:first-child) {
            margin-top: 5px;
        }
    }

    &__link {
        font-size: 16px;
        line-height: 150%;
        color: inherit;
        text-decoration: none;
        transition: color 0.2s linear;

        &:hover {
            color: var(--text-hover-color);
        }
    }
}

@media (max-width: 991.98px) {
    .box {
        padding: 20px;

        &__image {
            display: none;
        }
    }
}

@media (max-width: 767.98px) {
    .wrapper {
        align-items: start;
        justify-content: start;
    }

    .box {
        width: 100%;
        border: none;

        &__content {
            width: 100%;
        }

        &__links {
            flex-wrap: wrap;
        }
    }

    .links {
        flex: 0 0 50%;
        margin-bottom: 30px;

        &:not(:last-child) {
            margin-right: 0;
        }
    }
}

@media (max-width: 575.98px) {
    .box {
        padding: 15px;
    }
}
